



body{font-family: 'Montserrat', sans-serif;
    text-align: center;}

nav {background-color: #f2e6d9;}

.topnav {
  list-style-type: none;
  margin: 0;    
  padding: 0;
  overflow: hidden;
  background-color: #f2e6d9;
}


li {
  float: left; /* damit linksbündig */
}

li a {
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 30px 20px;
  text-decoration: none;
}

/* Farbänderung bei drüberfahren */
li a:hover {
  background-color:  whitesmoke;
}

.active {
  background-color: whitesmoke; /* zeigt auf welcher seite man ist */
}
li {
  border-right: 1px solid whitesmoke; /* kleine Ränder zwischen den topnav begriffen */
}



h1{color: rgb(149, 192, 208); 
    text-align: center;}


h2{color: rgb(166, 203, 216) ;
    text-align: center;}        



/* unbesuchter link */
a:link {
    color: black;
  }
  
  /* besuchter link */
  a:visited {
    color: lightblue;
  }
  
  /* Maus über link */
  a:hover {
    color: lightpink;
  }
  
  /* ausgewählter link */
  a:active {
    color: lightsalmon;
  }


  table, th, td{
        table-layout: fixed;
        width: 100px;
        color: black;
        border-collapse: collapse;
        border: 3px solid #f2e6d9;
        margin: 0 auto}

h3{color: rgb(184, 213, 224);
    text-align: center;
 } 

/* div {
    width: 800px;
    padding: 10px;
    border: 3px solid #f2e6d9;
    margin: 0 auto;
    text-align: center;} */

.nassau {
  width: 800px;
  padding: 10px;
  border: 3px solid #f2e6d9;
  margin: 0 auto;
  text-align: center;}

.bambuddha {
  width: 800px;
  padding: 10px;
  border: 3px solid #f2e6d9;
  margin: 0 auto;
  text-align: center;}

.sapunta {
  width: 800px;
  padding: 10px;
  border: 3px solid #f2e6d9;
  margin: 0 auto;
  text-align: center;}


.karting {
  width: 800px;
  padding: 10px;
  border: 3px solid #f2e6d9;
  margin: 0 auto;
  text-align: center;
    }

.vanquish {
  width: 800px;
  padding: 10px;
  border: 3px solid #f2e6d9;
  margin: 0 auto;
  text-align: center;
    }

.mimosas{ width: 800px;
  /*background-color: #f8f2ec; */
  padding: 10px;
  border: 3px solid rgb(219, 237, 243);
  margin: 0 auto;
  text-align: center;
}
footer{position: relative;
    
  margin-top: 100px;
  width: 100%;
  height: 70px;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  vertical-align: middle;

}


      /* Mit text-align: center zentriert man/*
      /* margin: 0 auto ist eine weitere Methode um zu zentrieren /*
                      